<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net40" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net40" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net40" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net40" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net40" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net40" />
  <package id="NLog" version="3.2.1" targetFramework="net40" />
</packages>